ol {
    list-style-type: none; /* Remove the default numbering */
}

li {
    border-bottom: 1px solid black; 
    padding: 5px; 
  }
body {
    background-color: antiquewhite;
    display: flex;
}

.points {
    padding-top: 11ch;
}
.score {
    display: flex;
    justify-content: center;
}